

nav ul, nav ul li{
    display:block;
    margin:0px;
    padding:0px;
    list-style:none;
}
nav ul{
    width:200px;
    border:3px double red;
    background-color: #c392e1
}
nav ul li{
    margin:2px;
    padding:3px;
    border:2px solid #36054d;
}
nav ul a:link, nac ul a:visited{
    color:#084511;
}
nav ul li:hover{
    margin:2px;
    padding:4px 4px 2px 2px;
    border:2px 2px 4px 4px solid #24d5f5;

}
 nav ul a:hover{
 color:white;

 }